.header {
    width: 100%;
    height: 10vh;
    background-color: gray;
}

.blue-box {
    width: 60px;
    height: 60px;
    background-color: blue;
    margin-left: 2%;
    margin-top: 1vh;
    display: inline-block;

}

.text-box {
    width: 100%;
    height: 30vh;
    background-color: white;
}

.text-box h1 {
    line-height: 0px;
    padding-left: 3%;
    padding-top: 3vh;
}

.row1 {
    width: 100%;
    height: 15vh;
    background-color: blue;
}

.row2 {
    width: 100%;
    height: 15vh;
    background-color: aqua;
}

.row3 {
    width: 100%;
    height: 15vh;
    background-color: yellowgreen;
}

.row4 {
    width: 100%;
    height: 15vh;
    background-color: yellow;
}


